@charset "UTF-8";

:root {
  --color-logoColor: #595653;
  --color-mainTextColor: #313131;
  --color-blueTextColor: #3057a2;
  --color-white: #fff;
  --color-redColor: #f54932;
  --color-almondColor: #e9ded4;
  --color-bottomBlack: #060606;
  --color-bottomBorderBlack: #303030;
  --color-bottomOrange: #fbce51;
  --color-sunYellow: #fbce51;
  --color-tableBorder: #d0d0d0;
  --color-sliderControlsColor: #d9d9d9;
}

@font-face {
  font-family: "GolosText";
  font-display: swap;
  src: url("../fonts/GolosText-Bold.woff2") format("woff2"), url("../fonts/GolosText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GolosText";
  font-display: swap;
  src: url("../fonts/GolosText-Medium.woff2") format("woff2"), url("../fonts/GolosText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GolosText";
  font-display: swap;
  src: url("../fonts/GolosText-Regular.woff2") format("woff2"), url("../fonts/GolosText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-Regular.woff2") format("woff2"), url("../fonts/Merriweather-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.container {
  position: relative;
  max-width: 1252px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100%;
  overflow: hidden;
}

/* Указываем box sizing */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  min-width: 320px;
  width: 100%;
  position: relative;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-width: 320px;
  width: 100%;
  font-size: 100%;
  font-family: "GolosText", "Arial Narrow", Arial, sans-serif;
  color: var(--color-mainTextColor);
  position: relative;
  font-size: 20px;
}

body.lock {
  overflow: hidden;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

:where(ul, ol, dl):where([class]) {
  list-style: none;
  padding: 0;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a[class],
a[class].text:active,
a[class].text:hover,
a[class].text {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

:where(h1, h2, h3, h4, h5, h6):where([class]) {
  font-weight: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

.bottom {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 62px;
  border: 2px solid;
  border-color: black;
  z-index: 1;
  text-align: center;
  position: relative;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
  overflow: hidden;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 19.2px */
}

.bottom span {
  display: inline-block;
  max-width: 165px;
  height: 100%;
  position: relative;
}

.bottom-transparent {
  background-color: transparent;
  color: var(--color-bottomBlack);
}

.bottom-transparent::before {
  background-color: var(--color-bottomBlack);
  border-color: var(--color-white);
}

.bottom-transparent:hover {
  border-color: var(--color-bottomBlack);
  color: var(--color-white);
  background-color: var(--color-bottomBlack);
}

.bottom__about {
  border-color: var(--color-blueTextColor);
  color: var(--color-blueTextColor);
}

.bottom__about::before {
  background-color: var(--color-blueTextColor);
}

.bottom__about:hover {
  border-color: var(--color-blueTextColor);
  color: var(--color-white);
  background-color: var(--color-blueTextColor);
}

.bottom-black {
  background-color: var(--color-bottomBlack);
  color: white;
  position: relative;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
  overflow: hidden;
}

.bottom-black::before {
  background-color: var(--color-bottomOrange);
}

.bottom-black:hover {
  border-color: var(--color-bottomOrange);
  color: var(--color-bottomBlack);
  background-color: var(--color-bottomOrange);
}

.bottom::before {
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
  display: inline-block;
  content: "";
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  position: absolute;
  left: 100%;
  top: 100%;
  border-radius: 62px;
}

.bottom:hover::before {
  left: -10px;
  top: -10px;
}

.title {
  text-transform: uppercase;
  color: var(--color-mainTextColor);
  font-family: "Merriweather", "Arial Narrow", Arial, sans-serif;
}

.title h3 {
  font-size: calc(25.34999px + 10.65001 * (100vw - 320px) / 932);
  font-weight: 400;
  line-height: 135%;
}

.title h2 {
  font-weight: 400;
  display: inline;
  font-size: calc(36px + 18 * (100vw - 320px) / 932);
}

.title__orange {
  color: var(--color-redColor);
}

.subtitle {
  display: inline-block;
  padding: 0 0 0 15px;
  width: 310px;
}

.subtitle h4 {
  display: inline;
}

.struckOutText {
  position: relative;
  display: inline-block;
  overflow: visibility;
}

.struckOutText::after {
  content: "";
  position: relative;
  left: 0;
  width: 80px;
  height: 2px;
  background-color: var(--color-redColor);
  display: block;
  -webkit-transform: translateY(-14px);
      -ms-transform: translateY(-14px);
          transform: translateY(-14px);
}

.blueText {
  font-size: calc(18px + 2 * (100vw - 320px) / 932);
}

.blueText a {
  color: var(--color-blueTextColor);
  text-decoration: none;
}

.blueText h4 {
  font-size: calc(18px + 2 * (100vw - 320px) / 932);
  font-style: normal;
  font-weight: 400;
  color: var(--color-blueTextColor);
  font-family: "GolosText", "Arial Narrow", Arial, sans-serif;
}

::-moz-selection {
  background: var(--color-bottomOrange);
  color: var(--color-bottomBlack);
}

::selection {
  background: var(--color-bottomOrange);
  color: var(--color-bottomBlack);
}

:root {
  --marquee-elements-displayed: 3;
  --marquee-element-width: calc(100vw / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  background-color: var(--color-redColor);
  padding: 18px 0;
}

.marquee__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  width: 100vw;
  -webkit-animation: scrolling var(--marquee-animation-duration) linear infinite;
          animation: scrolling var(--marquee-animation-duration) linear infinite;
}

.marquee__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 var(--marquee-element-width);
          flex: 0 0 var(--marquee-element-width);
  padding: 0 12px;
  position: relative;
  color: var(--color-white);
  font-family: Merriweather;
  font-size: 22px;
  font-size: calc(16px + 6 * (100vw - 320px) / 932);
  line-height: 110%;
  /* 24.2px */
  text-transform: uppercase;
  white-space: nowrap;
}

.marquee__item::after {
  right: -16px;
}

.marquee__item::before {
  left: -16px;
}

.marquee__item::before,
.marquee__item::after {
  content: " ";
  height: 8px;
  width: 8px;
  display: inline-block;
  top: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
  border-radius: 50%;
  background-color: var(--color-white);
}

@-webkit-keyframes scrolling {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
            transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
  }
}

@keyframes scrolling {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
            transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
  }
}

.no-webp .header{
  background: url("../images/content/header/header__bg.png"), var(--color-almondColor); }

.header {
  background-blend-mode: color-burn;
  position: relative;
  position: relative;
  margin: 0 0 80px;
}

.logo__row {
  padding: 26px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 62px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  padding: 0 0 0 1.73px;
}

.logo__img:first-child {
  padding: 0;
}

.logo__text {
  font-family: "GolosText", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  color: var(--color-logoColor);
  text-transform: uppercase;
  font-size: 16.651px;
  line-height: 100%;
  padding: 0 0 0 6.35px;
  z-index: 1;
  font-size: calc(14.418px + 2.233 * (100vw - 320px) / 932);
}

.logo__text span {
  display: block;
}

.main-header {
  z-index: 6;
  position: relative;
}

.main-header__row {
  max-width: 543px;
  min-width: 335px;
}

.main-header__title {
  font-family: "Merriweather", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-size: calc(30px + 30 * (100vw - 320px) / 932);
  line-height: 110%;
  font-weight: 400;
  margin: 0 0 24px;
}

.main-header__title p:last-child {
  text-align: center;
}

.main-header__subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  margin: 0 0 40px;
}

.bottoms-main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.bottoms-main-header__bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  padding: 20px;
  margin: 0 0 130px;
}

.img-header {
  position: relative;
}

.img-header__row {
  width: 100%;
  height: 500px;
  position: absolute;
  bottom: 0;
}

.no-webp .img-header__city{
  background: url("../images/content/header/city.png") center bottom no-repeat; }

.img-header__city {
  height: 100%;
  z-index: 1;
  position: relative;
  background-blend-mode: hard-light;
}

.img-header__city::after {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/svg/outline.svg") center bottom no-repeat;
  position: absolute;
  top: 0;
  left: -11px;
}

.img-header__sun {
  z-index: 0;
  position: absolute;
  height: 660px;
  width: 660px;
  background: url("../images/svg/sunText.svg") var(--color-sunYellow) no-repeat;
  background-blend-mode: luminosity;
  background-position: -60px 45px;
  right: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  top: -50%;
  -webkit-filter: opacity(0.75) hue-rotate(355deg);
          filter: opacity(0.75) hue-rotate(355deg);
}

.no-webp .img-header__horses{
  background: url("../images/content/header/horses__header.png") no-repeat; }

.img-header__horses {
  z-index: 1;
  position: absolute;
  width: 200px;
  height: 243.995px;
  right: 50%;
  -webkit-transform: translate(175%, 11%);
      -ms-transform: translate(175%, 11%);
          transform: translate(175%, 11%);
  bottom: 0%;
}

.no-webp .img-header__pawn{
  background: url("../images/content/header/pawn.png") no-repeat; }

.img-header__pawn {
  z-index: 1;
  position: absolute;
  width: 85px;
  height: 125px;
  right: 50%;
  -webkit-transform: translate(730%, -15%);
      -ms-transform: translate(730%, -15%);
          transform: translate(730%, -15%);
  bottom: 0%;
}

.no-webp .img-header__king{
  background: url("../images/content/header/king.png") no-repeat; }

.img-header__king {
  z-index: 0;
  position: absolute;
  width: 130px;
  height: 270px;
  right: 50%;
  -webkit-transform: translate(135%, -55%);
      -ms-transform: translate(135%, -55%);
          transform: translate(135%, -55%);
  bottom: 0%;
}

.no-webp .img-header__queen{
  background: url("../images/content/header/queen.png") no-repeat; }

.img-header__queen {
  z-index: 0;
  position: absolute;
  width: 130px;
  height: 270px;
  right: 50%;
  -webkit-transform: translate(400%, -100%);
      -ms-transform: translate(400%, -100%);
          transform: translate(400%, -100%);
  bottom: 0%;
}

.lecture {
  margin: 0 0 91.65px;
}

.lecture__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lecture__colum:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 764px;
          flex: 1 1 764px;
}

.lecture__image img {
  border-radius: 50%;
}

.bendra {
  margin: 0 0 165px;
}

.bendra__row {
  font-size: calc(14.418px + 2.233 * (100vw - 320px) / 932);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 73px;
     -moz-column-gap: 73px;
          column-gap: 73px;
}

.bendra__title {
  margin: 0 0 60px;
}

.img-bender__cooper {
  margin: 55px 0 0 0;
  width: 437.495px;
  height: 435.567px;
  background-color: var(--color-almondColor);
  position: relative;
  z-index: 0;
}

.no-webp .img-bender__man{
  background: url("../images/content/bendra/Bendra.png") center center no-repeat; }

.img-bender__man {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
}

.no-webp .img-bender__horses{
  background: url("../images/content/bendra/horses.png") center center no-repeat; }

.img-bender__horses {
  width: 100%;
  left: -125px;
  bottom: -150px;
  position: absolute;
  height: 100%;
  z-index: 1;
}

.no-webp .img-bender__hand{
  background: url("../images/content/bendra/hand.png") center center no-repeat; }

.img-bender__hand {
  width: 100%;
  right: -100px;
  bottom: -225px;
  position: absolute;
  height: 100%;
}

.no-webp .img-bender__banknote{
  background: url("../images/content/bendra/banknote.jpg") center center no-repeat; }

.img-bender__banknote {
  width: 100%;
  right: -200px;
  top: -110px;
  position: absolute;
  height: 100%;
  z-index: -1;
}

.img-bender__glow-1 {
  width: 100%;
  right: 150px;
  z-index: 0;
  bottom: -100px;
  position: absolute;
  background: url("../images/svg/grow1.svg") center center no-repeat;
  height: 100%;
}

.img-bender__glow-2 {
  width: 120%;
  right: -50px;
  z-index: 0;
  top: -125px;
  position: absolute;
  background: url("../images/svg/grow2.svg") center center no-repeat;
  height: 100%;
  z-index: -1;
}

.table-bendra {
  margin: 0 0 48px;
}

.table-bendra__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.table-bendra__item {
  font-size: 20px;
  border-bottom: 2px solid var(--color-tableBorder);
  padding: 16px;
}

.table-bendra__item-name {
  padding-left: 0px;
  -ms-grid-column: 1;
  grid-column: 1;
  border-right: 2px solid var(--color-tableBorder);
}

.table-bendra__item-name:nth-child(9) {
  border-bottom: none;
}

.table-bendra__item-name:first-child {
  padding-top: 0;
}

.table-bendra__item-value {
  font-weight: 600;
}

.table-bendra__item-value:last-child {
  border-bottom: none;
}

.table-bendra__item-value:nth-child(2) {
  padding-top: 0;
}

.footer {
  background: #e9ded4;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  font-size: 16px;
  opacity: 0.6;
}

.part {
  margin: 0 0 200px;
}

.part__row:first-child {
  margin: 0 0 24px 0;
}

.content-part {
  margin: 0 0 100px 0;
}

.content-part__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.content-part__item {
  height: 100%;
  position: relative;
}

.content-part__item.slider-part__item {
  position: absolute;
  left: 0;
  bottom: 0;
}

.content-part__item.slider-part__item .content-part__text {
  padding-top: 42px;
}

.no-webp .content-part__item .content-part__text{
  background: url("../images/content/header/header__bg.png"), var(--color-almondColor); }

.content-part__item .content-part__text {
  font-weight: 500;
  height: 100%;
  background-blend-mode: color-burn;
  padding: 20px 20px 20px 72px;
}

.content-part__item .content-part__text span {
  font-size: calc(18pxpx + 2px * (100vw - 320px) / 932);
}

.content-part__item:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.content-part__item:nth-child(1) .content-part__text:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 10px);
          flex: 0 0 calc(50% - 10px);
}

.content-part__item:nth-child(1) .content-part__text:first-child::before {
  content: "1";
}

.content-part__item:nth-child(1) .content-part__text:last-child {
  padding-top: 8px;
}

.content-part__item:nth-child(1) .content-part__text:last-child::before {
  content: "2";
  left: calc(50% + 30px);
}

.content-part__item:nth-child(2) .content-part__text::before {
  content: "3";
}

.content-part__item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.content-part__item:nth-child(3) .content-part__text:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 10px);
          flex: 0 0 calc(50% - 10px);
}

.content-part__item:nth-child(3) .content-part__text:first-child::before {
  content: "4";
}

.content-part__item:nth-child(3) .content-part__text:last-child {
  padding-top: 8px;
}

.content-part__item:nth-child(3) .content-part__text:last-child::before {
  content: "5";
  left: calc(50% + 30px);
}

.content-part__item:nth-child(4) .content-part__text::before {
  content: "6";
}

.content-part__item:nth-child(5) .content-part__text::before {
  content: "7";
}

.content-part__item .content-part__text::before {
  position: absolute;
  left: 20px;
  background-color: #fff;
  width: 36px;
  height: 36px;
  text-align: center;
  border-radius: 50%;
  line-height: 36px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  /* 24px */
}

.content-part__item:nth-child(1) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

.content-part__item:nth-child(2) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
}

.content-part__item:nth-child(3) {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

.content-part__item:nth-child(5) {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
}

.participants {
  margin: 0 0 140px;
}

.participants__title {
  margin: 0 0 60px;
}

.content-participants__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-participants__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  padding: 0 10px;
  overflow: hidden;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

.content-participants__text {
  text-align: center;
}

.participants-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.participants-text__img {
  display: inline-block;
  margin: 0 0 28px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.participants-text__name {
  font-weight: 600;
  margin: 0 0 6px;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.participants-text__dignity {
  margin: 0 0 20px;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.participants-text__about {
  padding: 12px;
  display: inline-block;
  width: 113px;
}

.carousel-participants {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-participants__wrappers {
  overflow: hidden;
}

.carousel-participants__content {
  position: relative;
  left: 0%;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.carousel-participants__content:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.carousel-participants .carousel__controls {
  right: 0;
  top: -115px;
  width: 155px;
  height: 44px;
  position: absolute;
}

.carousel-participants .dots.controls__item {
  font-size: 16px;
  height: 44px;
  line-height: 44px;
  cursor: auto;
}

.slider-part {
  position: relative;
  width: 100%;
  display: block;
}

.slider-part__content {
  width: 100%;
  display: block;
  cursor: -webkit-grab;
  cursor: grab;
  position: relative;
}

.slider-part__content:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.controls {
  position: relative;
  bottom: calc(-100% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
}

.controls__item {
  z-index: 4;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
}

.prev {
  background: url("../images/svg/slider/arrow.svg") var(--color-bottomBlack) center center no-repeat;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
  margin: 0 10px 0 0;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

.prev:hover {
  background-color: var(--color-bottomOrange);
}

.prev.disable {
  cursor: auto;
  background-color: var(--color-sliderControlsColor);
}

.dots {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
}

.dot {
  background: var(--color-sliderControlsColor);
  width: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
  cursor: pointer;
}

.dot.active {
  background-color: var(--color-bottomBlack);
}

.next {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
  background: url("../images/svg/slider/arrow.svg") var(--color-bottomBlack) center center no-repeat;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
  margin: 0 0 0 10px;
}

.next:hover {
  background-color: var(--color-bottomOrange);
}

.next.disable {
  cursor: auto;
  background-color: var(--color-sliderControlsColor);
}

.controls {
  position: relative;
  bottom: calc(-100% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
}

.controls__item {
  z-index: 4;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
}

.prev {
  background: url("../images/svg/slider/arrow.svg") var(--color-bottomBlack) center center no-repeat;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
  margin: 0 10px 0 0;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

.prev:hover {
  background-color: var(--color-bottomOrange);
}

.prev.disable {
  cursor: auto;
  background-color: var(--color-sliderControlsColor);
}

.dots {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
}

.dot {
  background: var(--color-sliderControlsColor);
  width: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
  cursor: pointer;
}

.dot.active {
  background-color: var(--color-bottomBlack);
}

.next {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
  background: url("../images/svg/slider/arrow.svg") var(--color-bottomBlack) center center no-repeat;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
  margin: 0 0 0 10px;
}

.next:hover {
  background-color: var(--color-bottomOrange);
}

.next.disable {
  cursor: auto;
  background-color: var(--color-sliderControlsColor);
}

@media (min-width: 992.98px) {
  .part__content .controls {
    display: none;
  }

  .content-part__item:nth-child(5) .content-part__text span {
    width: 446px;
    display: inline-block;
  }

  .no-webp .content-part__item:nth-child(5)::after{
    background: url("../images/content/part/plane.png") right center no-repeat; }

  .content-part__item:nth-child(5)::after {
    content: "";
    position: absolute;
    right: -70px;
    top: -50px;
    background-color: #fff;
    width: 380px;
    height: 200px;
  }
}

@media (min-width: 1252px) {
  .title h3 {
    font-size: 36px;
  }

  .title h2 {
    font-size: 54px;
  }

  .blueText {
    font-size: 20px;
  }

  .blueText h4 {
    font-size: 20px;
  }

  .marquee__item {
    font-size: 22px;
  }

  .logo__text {
    font-size: 16.651px;
  }

  .main-header__title {
    font-size: 60px;
  }
}

@media (max-width: 1264px) {
  .container {
    max-width: 970px;
  }

  .content-part__item:nth-child(1)::after {
    right: -225px;
  }

  .content-part__item:nth-child(5)::after {
    right: -225px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }

  .img-header {
    -webkit-transform: translateX(-17%);
        -ms-transform: translateX(-17%);
            transform: translateX(-17%);
    width: 1700px;
  }

  .bendra__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16.651px;
  }

  .bendra__img {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
    margin: 0 0 20px;
  }

  .bendra__title {
    margin: 0 0 44px;
  }

  .table-bendra {
    margin: 0 0 40px;
  }

  .table-bendra__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .table-bendra__item-name {
    -ms-grid-column: 1;
    grid-column: 1;
    padding-left: 0;
    padding-bottom: 15px;
    border-bottom: none;
    padding-bottom: 1px;
    border-right: none;
  }

  .table-bendra__item-value {
    -ms-grid-column: 1;
    grid-column: 1;
    padding-left: 0;
    padding-top: 0;
  }

  .part {
    margin: 0 0 184px;
  }

  .part__row:first-child {
    margin: 0 0 198px 0;
  }

  .content-part__items {
    margin: 0 0 28px;
  }

  .content-part__items {
    height: 300px;
  }

  .content-part__item .content-part__text span {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
  }

  .content-part__item:nth-child(1) .content-part__text:last-child::before {
    left: 20px;
  }

  .no-webp .content-part__item:nth-child(1)::after{
    background: url("../images/content/part/plane.png") right center no-repeat; }

  .content-part__item:nth-child(1)::after {
    content: "";
    position: absolute;
    left: 0;
    top: -150px;
    background-color: #fff;
    width: 380px;
    height: 200px;
  }

  .content-part__item:nth-child(3) .content-part__text:last-child::before {
    left: 20px;
  }

  .slider-part__item {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    -webkit-transition: ease-in-out 0.25s;
    transition: ease-in-out 0.25s;
  }

  .slider-part__item.active {
    opacity: 1;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .slider-part__item-next {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }

  .slider-part__item-prev {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@media (max-width: 768.98px) {
  .container {
    max-width: none;
  }

  body.lock {
    widows: 100%;
    position: fixed;
    overflow: hidden;
  }

  .bottom-transparent {
    background-color: var(--color-white);
    opacity: 0.9;
    border-color: var(--color-white);
  }

  .title h3 .title__visibility {
    display: none;
  }

  .subtitle {
    padding: 0;
    display: block;
    width: 100%;
  }

  .subtitle h4 {
    padding: 0;
    display: block;
    width: 100%;
  }

  .header {
    margin: 0 0 48px;
  }

  .bottoms-main-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }

  .bottoms-main-header__bottom {
    padding: 18px 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    width: 100%;
  }

  .bottoms-main-header__bottom span {
    display: inline-block;
    max-width: 100%;
  }

  .bottoms-main-header__bottom:first-child {
    margin: 14px;
  }

  .bottoms-main-header__bottom:last-child {
    margin: 0 0 291px;
  }

  .img-header {
    -webkit-transform: scale(50%) translateX(-65%);
        -ms-transform: scale(50%) translateX(-65%);
            transform: scale(50%) translateX(-65%);
    width: 1700px;
  }

  .lecture {
    margin: 0 0 81.78px;
  }

  .lecture__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 24px;
  }

  .lecture__colum:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .bendra {
    margin: 0 0 120px;
  }

  .participants {
    margin: 0 0 100px;
  }

  .content-participants__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .carousel-participants__content {
    margin: 0 0 40px;
  }

  .carousel-participants .carousel__controls {
    position: relative;
    left: 0;
    top: 0;
  }
}

@media (max-width: 479.98px) {
  .main-header__subtitle {
    text-align: left;
  }

  .img-header {
    -webkit-transform: scale(50%) translateX(-95%);
        -ms-transform: scale(50%) translateX(-95%);
            transform: scale(50%) translateX(-95%);
    width: 1700px;
  }
}

@media (max-width: 768.98px) and (min-width: 479.98px) {
  .main-header__row {
    max-width: 100%;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.webp .header{ background: url(../images/content/header/header__bg.webp), var(--color-almondColor); }

.webp .img-header__city{ background: url(../images/content/header/city.webp) center bottom no-repeat; }

.webp .img-header__horses{ background: url(../images/content/header/horses__header.webp) no-repeat; }

.webp .img-header__pawn{ background: url(../images/content/header/pawn.webp) no-repeat; }

.webp .img-header__king{ background: url(../images/content/header/king.webp) no-repeat; }

.webp .img-header__queen{ background: url(../images/content/header/queen.webp) no-repeat; }

.webp .img-bender__man{ background: url(../images/content/bendra/Bendra.webp) center center no-repeat; }

.webp .img-bender__horses{ background: url(../images/content/bendra/horses.webp) center center no-repeat; }

.webp .img-bender__hand{ background: url(../images/content/bendra/hand.webp) center center no-repeat; }

.webp .img-bender__banknote{ background: url(../images/content/bendra/banknote.webp) center center no-repeat; }

.webp .content-part__item .content-part__text{ background: url(../images/content/header/header__bg.webp), var(--color-almondColor); }

@media (min-width: 992.98px){

  .webp .content-part__item:nth-child(5)::after{ background: url(../images/content/part/plane.webp) right center no-repeat; }
}

@media (max-width: 992.98px){

  .webp .content-part__item:nth-child(1)::after{ background: url(../images/content/part/plane.webp) right center no-repeat; }
}